<h3>Another Day, Another News</h3>

<small>NewsAPI.org</small>

<form>
  <div class="form-group">
    <label for="formApi">Input your API key from newsapi.org</label>
    <input
      type="text"
      placeholder="e.g. 144a18a1d0379b6f4be2"
      class="form-control"
    />
  </div>

  <div class="row">
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-warning">Back</button>
      <button type="button" class="btn btn-danger ml-2">Delete</button>
    </div>

    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-success">Add</button>
    </div>
  </div>
</form>
